---
import certifications from "../../collections/certifications.json";
---

<section class="relative w-full min-h-[600px]">
  <!-- Slides contenedor -->
  <div class="relative w-full h-full flex items-center justify-center">
    {
      certifications.map((cert, index) => (
        <div
          class={`absolute inset-0 flex items-center justify-center transition-opacity duration-700 ${
            index === 0 ? "opacity-100 z-10" : "opacity-0 z-0"
          } pointer-events-none`}
          data-index-certifications={index}
          data-bg={cert.image}
        >
          <div class="pointer-events-auto max-w-7xl w-full px-4 md:px-6 flex flex-col md:flex-row items-center justify-center gap-8 md:gap-16">
            <img
              src={cert.image}
              alt={cert.name}
              class="w-full max-w-sm md:max-w-md lg:max-w-lg rounded-lg shadow-xl border"
            />
            <div class="bg-white p-4 sm:p-6 shadow-2xl w-full md:w-1/2 text-sm sm:text-base rounded-lg">
              <p class="text-gray-500 text-base leading-relaxed">
                {cert.description}
              </p>
            </div>
          </div>
        </div>
      ))
    }
  </div>

  <!-- Dots -->
  <div class="absolute bottom-4 left-1/2 -translate-x-1/2 flex gap-3 z-50">
    {
      certifications.map((_, index) => (
        <button
          class={`w-3 h-3 rounded-full hover:cursor-pointer ${
            index === 0 ? "bg-gray-600 scale-125" : "bg-gray-300"
          } transition-all`}
          data-dot-index-certifications={index}
          aria-label={`Ir al slide ${index + 1}`}
        />
      ))
    }
  </div>

  <!-- Script -->
  <script type="module" src="/scripts/slider-dots.js"></script>
</section>
