---
import Layout from './main.astro'
const { frontmatter } = Astro.props

function parseDate(dateStr) {
  const [year, month, day] = dateStr.split('/').map(Number)
  return new Date(year, month - 1, day)
}

function formatDate(dateStr) {
  const date = parseDate(dateStr)
  const y = date.getFullYear()
  const m = date.getMonth() + 1
  const d = date.getDate()
  return `${y} 年 ${m} 月 ${d} 日`
}

const postDate = formatDate(frontmatter.dateFormatted)
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image}
>
  <main
    class="relative z-30 max-w-4xl pb-1 mx-auto mt-10 bg-white dark:bg-neutral-900 md:rounded-t-md text-neutral-900"
  >
    <div
      class="relative flex flex-col px-5 pt-6 border-t border-b-0 md:border-r md:border-l md:pt-20 lg:px-0 justify-stretch md:rounded-t-2xl border-neutral-200 dark:border-neutral-800"
    >
      <div
        class="absolute top-0 left-0 hidden w-px h-full mt-1 -translate-x-px md:block bg-gradient-to-b from-transparent to-white dark:to-neutral-900"
      >
      </div>
      <div
        class="absolute top-0 right-0 hidden w-px h-full mt-1 translate-x-px md:block bg-gradient-to-b from-transparent to-white dark:to-neutral-900"
      >
      </div>
      <h1
        class="w-full mb-6 max-w-2xl mx-auto text-3xl font-bold leading-tight tracking-tighter text-left md:mb-12 md:text-4xl dark:text-neutral-100 lg:text-5xl md:leading-none"
      >
        {frontmatter.title}
        <div>
          <time
            class="text-sm tracking-wide text-neutral-500 dark:text-neutral-400"
            datetime="2025-04-23T14:01:48.936Z"
          >
            {postDate}
          </time>
        </div>
      </h1>
    </div>

    <article
      class="w-full max-w-2xl mx-auto mb-20 prose-sm prose px-7 lg:px-0 lg:prose-lg dark:prose-invert"
    >
      <slot />
    </article>
  </main>
</Layout>
